<div class="donations">
  <div class="row">
    <ba-card cardTitle="List of Donations" baCardClass="with-scroll" class="smart-table-container">
      <div class="row">
        <div class="input-group col-sm-3">
            <ng2-completer class="col-sm-12" [(ngModel)]="donation.memberName" [placeholder]="'Member Name'" [autoMatch]="true" [datasource]="dataCompleterService" [textSearching]="" [minSearchLength]="0"></ng2-completer>
        </div>
        <div class="input-group col-sm-1">
          <input class="form-control" placeholder="Check no" [(ngModel)]="donation.checkNo" name="checkNo" type="text">
        </div>
        <div class="input-group col-sm-2">
          <input class="form-control" placeholder="Scope" [(ngModel)]="donation.scope" name="scope" type="text">
        </div>
        <div class="input-group col-sm-2">
          <input class="form-control" placeholder="Amount" [(ngModel)]="donation.sum" name="sum" type="text">
        </div>
        <div class="col-sm-2">
          <mat-form-field>
              <input matInput [matDatepicker]="picker" [(ngModel)]="dateOfReceived" placeholder="Received date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="input-group col-sm-2">
            <input class="form-control btn btn-sm" (click)="add()" name="add" type="button" value="Add" [disabled]="!donation.memberName || !donation.sum">
        </div>
      </div>

      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="delete($event)" (editConfirm)="edit($event)"></ng2-smart-table>
      
    </ba-card>
  </div>
  <alert></alert>
</div>
