<form autocomplete="off">
    <md-input-container>
        <input mdInput [(ngModel)]="currentMember.firstName" [autofocus]="true" name="firstName" placeholder="First Name" />
    </md-input-container>
    <br/>
    <md-input-container>
        <input mdInput [(ngModel)]="currentMember.lastName" name="lastName" placeholder="Last Name" />
    </md-input-container>
    <md-input-container>
        <input mdInput [(ngModel)]="currentMember.id" name="id" placeholder="Identification Id" />
    </md-input-container>
    <br/>
    <button md-raised-button color="primary" (click)=addMember()>Add new member</button>
</form>