@import '../../../../theme/sass/conf/conf';


.list-members {
    .member-head {
        cursor: pointer;
        padding: 8px;
    }

    .col-spand {
        width: 5%;
    }
    .col-member {
        width: 25%;
    }
    .col-phone {
         width: 20%;
    }
    .col-action {
        width: 20%;
    }
   
    b {
        padding: 10px;
        cursor: pointer;
    }

    .member-info {
        padding-left: 40px;
        text-align: left;
    }
    
}