<div class="widgets">
  <h3>New Member</h3>
  <div class="col-md-12">
    <form (ngSubmit)="saveMember()" class="form-horizontal">
      <div class="row">
        <div class="form-group col-md-6" [ngClass]="{'has-error': !member.firstName, 'has-success': member.firstName}">
          <label for="firstName1" >First Name</label>
          <input type="text" class="form-control" name="firstName1" [(ngModel)]="member.firstName">
        </div>
        <div class="form-group col-md-6" [ngClass]="{'has-error': !member.lastName, 'has-success': member.lastName}">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" [(ngModel)]="member.lastName">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="lastName">Date of birthday</label>
          <input type="date" class="form-control" name="dateOfBirthday" [(ngModel)]="member.dateOfBirthday">
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="member.email">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="phone">Phone number</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="member.phoneNumber">
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" name="address" [(ngModel)]="member.address">
      </div>
      <button class="btn btn-primary" [disabled]=" !member.firstName ||  !member.lastName" type="submit">Save Member</button>
    </form>
<alert></alert>
  </div>
</div>