<li *ngIf="members">
    <ul *ngFor="let member of members" class="listmember">
        <div class="color-box" [style.background-color]="member.color"></div>
        <div class="name">
         <label>FirstName</label> 
         <span>{{member.firstName}}</span>
         <label>LastName</label>
         <span>{{member.lastName}}</span>
        </div>
        <div class="actions">
            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editmember(member)"></i>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="deletemember(member)"></i>
        </div>
    </ul>
</li>